[plugin]
name: plantbox
# Define what files and directories to deploy
main_file: plantbox.py
compiled_ui_files: 
resource_files: 
extras: metadata.txt, plantbox_dialog.py
dir_extras: 

[help]
dir: help